*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --header-bg: #0084fd;
    --section1-bg: #b5ddff;
    --section-bg: #9792e4;
    --free-color: #fdc15f;
    --footer-bg: #333333;
    --page-bg: #ffffff;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/*utilities*/
.container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.d-md-block{
    display: block;
}
.d-md-none{
    display: none;
}
[class^='col-']
{
    padding: 0 1rem;
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-6{
    width: calc(100% / 12 * 6);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-12{
    width: calc(100% / 12 * 12);
}
/*end utilities*/
/*Mobile First*/
header nav{
    background-color: #0084fd;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.info{
    color: white;
    text-decoration: none;
}
.start{
    color: black;
    text-decoration: none;
    background-color: white;
}
.setting{
    fill: white;
    font-size: 32px;
}


main{

}
.first{
    margin-bottom: 4rem;
}
.card-12{
    fill: #0084fd;
    margin: 2rem 2rem;
    background-color: #b5ddff;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem 1rem 0 1rem;
}
h4{
    color: #0084fd;
    font-size: 1.5rem;
    padding: 1rem 0;
}
p{
    line-height: 32px;
    padding: 1rem 0 1rem 0;
}
.store{
    fill: #ffffff;
    color: #ffffff;
    text-decoration: none;
    background-color: #0084fd;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 24px;
    font-weight: bold;
}
.phone{
    padding-top: 4rem;
}
.icon{
    font-size: 100px;
}
.second{
    background-color: #9792e4;
    margin-bottom: 4rem;
}
.card-12-left{
    color: white;
    margin: 2rem 2rem;
    text-align: center;
    padding: 2rem 1rem 0 1rem;
}
h3{
    font-size: 28px;
    padding: 2rem 0;
}
.card-12-right{
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 2rem 2rem;
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
}
em{
    line-height: 32px;
    padding: 1rem 0 1rem 0;
}
.arrow{
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #9792e4;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.third{
    margin-bottom: 4rem;
}
h2{
    color: #9792e4;
    font-size: 2rem;
    padding: 3rem 1rem;
}
.testimonials{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}
.card-12-s3{
    background-color: #9792e4;
    margin: 2rem 2rem;
    border-radius: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
.presentation{
    color: #ffffff;
    line-height: 32px;
}


.fourth{
    background-color: #9792e4;
}
.card-12-bottom{
    background-color: #ffffff;
    margin: 2rem 2rem;
    border-radius: 2rem;
    padding: 2rem 2rem;
    text-align: left;
    color: #9792e4;
}
.number{
    font-size: 50px;
    padding: 0;
}
.repertoire{
    color: #9792e4;
    font-size: 28px;
}
.more{
    background-color: #9792e4;
    text-decoration: none;
    color: #ffffff;
    padding: 0.5rem 3rem;
    margin-top: 2rem;
    border-radius: 1rem;
}